
ul.checklist
{
    list-style-type: none;
    padding: 0;
}

ul.checklist li::before
{
    content: url('Image/no_check.jpg');
    margin-right: 5px;
}

ul.checklist li.checked::before
{
    content: url('Image/check.jpg');
}

